# ***Swiggy Data Analysis***

## ***Data Extraction***

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import csv
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# creating empty list for features.
name=[]
type_=[]
rating = []
time=[]
amount =[]
for page in range(1,30):
    url = 'https://www.swiggy.com/hyderabad?page={}'.format(page)
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    for res_name in soup.find_all('div',class_ = "nA6kb"):
        name.append(res_name.text)
    for res_time in soup.find_all('div',class_ = '_3Mn31'):
        time.append(res_time.text)
    for i in soup.find_all('div',class_='_1gURR'):
        type_.append(i.text)

In [3]:
d = {'Restaurant':name,
    'Type':type_,
    
    'Time':time}

In [4]:
df= pd.DataFrame(d)

In [5]:
len(type_)

464

In [6]:
df.to_csv('swiggy_biryani.csv')

In [7]:
# creating empty list of features.

name=[]
type_=[]
rating = []
time=[]
amount =[]
for page in range(1,30):
    url = 'https://www.swiggy.com/hyderabad/north-indian-collection?page={}'.format(page)
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    for res_name in soup.find_all('div',class_ = "nA6kb"):
           name.append(res_name.text)
    for res_time in soup.find_all('div',class_ = '_3Mn31'):
            time.append(res_time.text)
    for i in soup.find_all('div',class_='_1gURR'):
            type_.append(i.text)

In [8]:
d1 = {'Restaurant':name,
    'Type':type_,
      'Time':time}

In [9]:
len(rating)

0

In [10]:
df1 = pd.DataFrame(d1)

In [11]:
df1

,Restaurant,Type,Time
0,Maalgaadi by Dhaba Estd 1986 Delhi,"North Indian, Indian, Biryani, Punjabi, Kebabs...",4.1•30 MINS•₹300 FOR TWO
1,Chaitanya Food Court,"Biryani, Chinese, Andhra, North Indian",4.0•34 MINS•₹600 FOR TWO
2,The Bowl Concepts,"North Indian, Indian",4.0•31 MINS•₹300 FOR TWO
3,Shah Ghouse Hotel,"Biryani, North Indian, Chinese, Mughlai, Tandoor",3.9•31 MINS•₹300 FOR TWO
4,Raja Rani Ruchulu,"Biryani, Indian, Chinese, Tandoor, North India...",4.0•37 MINS•₹300 FOR TWO
...,...,...,...
291,Dca cafe & Bistro,"Arabian, North Indian, Thalis",--•28 MINS•₹500 FOR TWO
292,Oolta Tawa,North Indian,3.5•39 MINS•₹200 FOR TWO
293,Air Live,"Tandoor, Pizzas, North Indian, Fast Food, Chinese",--•45 MINS•₹700 FOR TWO
294,Telangana Hotel,"Indian, Chinese, North Indian",--•42 MINS•₹350 FOR TWO
295,Punjab Bistro Express,"North Indian, Biryani, Combo, Tandoor",--•44 MINS•₹450 FOR TWO

In [12]:
df1.to_csv('swiggy_northindian.csv')

In [13]:
#creating a new empty list.
name =[]
type_=[]
time = []
rating = []
price = []
for page in range(1,30):
    url = 'https://www.swiggy.com/hyderabad/top-rated-collection?page={}'.format(page)
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    for res_name in soup.find_all('div',class_ = "nA6kb"):
           name.append(res_name.text)
    for res_time in soup.find_all('div',class_ = '_3Mn31'):
            time.append(res_time.text)
    for i in soup.find_all('div',class_='_1gURR'):
            type_.append(i.text)

In [14]:
d2 = {'Restaurant':name,
     'Type':type_,
     'Time':time}

In [15]:
df2 = pd.DataFrame(d2)
df2

,Restaurant,Type,Time
0,Earth Craft,"Indian, Beverages",5.0•44 MINS•₹600 FOR TWO
1,Authentic Belgian Waffles,"Waffle, Desserts",4.9•48 MINS•₹300 FOR TWO
2,Splurge - Thickshakes and Milkshakes,"Beverages, Desserts",4.8•33 MINS•₹300 FOR TWO
3,Zorro - Milkshakes and Thickshakes,"Desserts, Beverages, Ice Cream, Juices",4.8•35 MINS•₹300 FOR TWO
4,Fruitoholic,"Beverages, Healthy Food",4.8•43 MINS•₹200 FOR TWO
...,...,...,...
459,SRINIDHI RESTAURANT,"South Indian, North Indian, Biryani, Chinese",3.9•41 MINS•₹390 FOR TWO
460,Hotel Swagath Residency - Dhanturi Group of Ho...,"Biryani, Tandoor, Chinese, Seafood, Beverages,...",3.9•53 MINS•₹500 FOR TWO
461,Indiana Burgers,"American, Desserts, Fast Food",3.9•42 MINS•₹150 FOR TWO
462,JAIN KITCHEN PURE VEGETARIAN RESTAURANT,"North Indian, South Indian, Jain, Chinese, Tan...",3.9•47 MINS•₹400 FOR TWO
463,Warm N Spice,"Indian, Chinese, Tandoor",3.9•42 MINS•₹399 FOR TWO

In [16]:
df2.to_csv('swiggy_toprated.csv')

In [17]:
len(name)

464

In [18]:
df2

,Restaurant,Type,Time
0,Earth Craft,"Indian, Beverages",5.0•44 MINS•₹600 FOR TWO
1,Authentic Belgian Waffles,"Waffle, Desserts",4.9•48 MINS•₹300 FOR TWO
2,Splurge - Thickshakes and Milkshakes,"Beverages, Desserts",4.8•33 MINS•₹300 FOR TWO
3,Zorro - Milkshakes and Thickshakes,"Desserts, Beverages, Ice Cream, Juices",4.8•35 MINS•₹300 FOR TWO
4,Fruitoholic,"Beverages, Healthy Food",4.8•43 MINS•₹200 FOR TWO
...,...,...,...
459,SRINIDHI RESTAURANT,"South Indian, North Indian, Biryani, Chinese",3.9•41 MINS•₹390 FOR TWO
460,Hotel Swagath Residency - Dhanturi Group of Ho...,"Biryani, Tandoor, Chinese, Seafood, Beverages,...",3.9•53 MINS•₹500 FOR TWO
461,Indiana Burgers,"American, Desserts, Fast Food",3.9•42 MINS•₹150 FOR TWO
462,JAIN KITCHEN PURE VEGETARIAN RESTAURANT,"North Indian, South Indian, Jain, Chinese, Tan...",3.9•47 MINS•₹400 FOR TWO
463,Warm N Spice,"Indian, Chinese, Tandoor",3.9•42 MINS•₹399 FOR TWO

In [19]:
data = pd.concat([df,df1,df2])

In [20]:
data.reset_index(inplace = True)

In [21]:
data.to_csv('swiggy_whole_data.csv')